#register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
}

#form-register{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

}