#home-container {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Kufam, cursive;
    padding: 100px 20px 20px 20px;
}

#header-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #277da1;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #FFF;
    z-index: 10;
}

.info-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textos-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

img.img-usuario{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #FFF;
}

.menu-usuario {
    background-color: red;
}

section#home-content {
    display: flex;
    justify-content: space-between;
}

#group-cartoes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
    margin-right: 20px;
}

#extrato-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#extrato-usuario h2{
    margin-right: 30%;
}

.rs-table {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.modal-add-cartao div{
    margin-bottom: 10px;
    font-family: Kufam, cursive;
}

.rs-dropdown a:hover, .rs-dropdown a:focus{
    background-color: transparent;
}

.show-row {
    /* border: 1px red dashed; */
    margin-bottom: 10px;
}

.show-col {
    /* border: 1px blue solid; */
}

#modal-edital-perfil {
    width: 95%;
}